@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* LIGHT MODE */
:root{
    --cor-paragrafo: #000;
    --cor-destaque: #0075de;
    --cor-subtitulo: #778899;
    --cor-secundaria: #1696FF;
    --cor-background:#f2edff;
    --cor-background-2: #f2edff;
    --cor-preto: #fff; 
}
/* CLASS DARK MODE */
.dark:root{
    --cor-paragrafo: #fff;
    --cor-destaque: #0AFFEB;
    --cor-subtitulo: #778899;
    --cor-secundaria: #1696FF;
    --cor-background: #202124;
    --cor-background-2: #2b2a33;
    --cor-preto: #000;
}
@media screen and (max-width: 980px){

    .nav-desktop{
        display: none;
    }
    .boas-vindas{
        font-size: 1rem;
        margin-top: 71px;
    }
    .eu-sou{
        font-size: 1.5rem;
    }
    .gilberto-lopes{
        font-size: 4rem;
    }
    .full-stack{
        font-size: 1.1rem;
    }
    .chaves-full-stack{
        font-size: 1.1rem;
    }

    .container-sobre{
        flex-direction: column-reverse;
    }

    .container-texto-sobremim{
        max-width: 700px;
    }

    .container-texto-sobremim p{
        margin-right: 0rem;
    }

    h3{
        margin: .625rem;
    }
}

@media screen and (max-width: 650px){

    .gilberto-lopes{
        font-size: 2rem;
    }

    .img-dev-home{
        max-width: 90px;
    }

    #skills{
        padding-top: 71px;
    }

    .container-skills{
        flex-direction: column;
        align-items: center;
    }

    .container-hard-skills{
        /* width: 100%; */
        width: 300px;
    }
    .container-soft-skills{
        width: 100%;
        margin-top: 1.25rem;
    }

    .container-hard-skills .bx{
        font-size: 4rem;
    }

    .tux{
        width: 3.5rem;
    }

    footer #btn-topo{
        font-size: 35px;
    }

}

/* DISPOSITIVO NA ORIENTAÇÃO PAISAGEM */

@media screen and (orientation: landscape){

    #home{
        padding: 71px 1.25rem;
    }

    #skills{
        padding: 71px 1.25rem;
    }
}