@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', 'Courier New', Courier, monospace, sans-serif;
    scroll-behavior: smooth;
}

:root{
    /*--b1: #000000;
    --b2: #0f0f0f;
    --b3: #1e1e1e;
    --b4: #2d2d2d;
    --b5: #3c3c3c;
    --b6: #d3d3d3;*/

    --cor-paragrafo: #fff;
    --cor-destaque: #0AFFEB;
    --cor-subtitulo: #778899;
    --cor-secundaria: #1696FF;
    --cor-background: #050710;
    --cor-background-2: #0a0e24;
    --cor-preto: #000;
}

/* CLASSE LIGHT MODE */

.light:root{
    --cor-paragrafo: #000;
    /* --cor-destaque: #050710; */
    --cor-destaque: #0a0e24;
    --cor-subtitulo: #778899;
    --cor-secundaria: #1696FF;
    --cor-background: #EDF1F4;
    --cor-background-2: #d3d3d3;
    /* --cor-background-2: #0a0e24; */
    --cor-preto: #fff; 
}

/* ANIMAÇÃO BORDER-BOTTOM DO HEADER
    .span-animado-header{
    position: absolute;
    background: linear-gradient(to right, transparent, var(--b01));
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    animation: animaheader 2s linear infinite;
}
@keyframes animaheader{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
} */

/* HTML / BODY */

html, body{
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--cor-background);
}

/* SCROLL BAR */

::-webkit-scrollbar{
    width: 0.3125rem;
    background-color: var(--cor-background);
}

::-webkit-scrollbar-thumb{
    width: 0.3125rem;
    background-color: var(--cor-destaque);
    border-radius: 0.625rem;
}

/* HEADER */

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding: .625rem 1.25rem;

    position: fixed;
    background-color: var(--cor-background);
    box-shadow: 0 0 .625rem #000000;
    /* filter: blur(1px); */
}

/* LOGOMARCA */

.logomarca{
    color: transparent;
}
.logo-animado{
    font-size: 1.2em;
    color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.logo-animado:hover{
    color: var(--cor-destaque);
    transition: 0.3s ease-in-out;
    /* text-shadow: 2px 2px 0px black; */
}
.developer{ 
    color: var(--cor-subtitulo);
    font-weight: 500;
    font-style: italic;
}
.gilberto{ 
    color: var(--cor-destaque);
    font-weight: bold;
    font-style: italic;
}
.maior-menor{
    -webkit-text-stroke: 1px var(--cor-destaque);
    font-size: 2em;
    font-weight: bold;
}
.maior-menor:hover{
    color: varvar(--cor-destaque);
}
.registrada{
    color: var(--cor-destaque);
}

/* MENU DESKTOP */

.menu-desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.menu-desktop li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.25rem;
}
.menu-desktop li .links-menu-desktop{
    color: var(--cor-subtitulo);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-desktop li .links-menu-desktop:hover{
    color: var(--cor-destaque);
    transition: .3s;
}

.icons-menu-desktop{
    color: var(--cor-secundaria);
    /* opacity: 0; */
}

/* BOTÃO TEMA DESKTOP */

#checkbox-tema-desktop{
    display: none;
    /* opacity: 1; */
}

.container-interruptor .button-tema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.container-interruptor .button-tema label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-subtitulo);
    border-radius: 1.25rem;
    /* box-shadow: inset 0 0 1px #000; */
    width: 60px;
    height: 30px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.container-interruptor .button-tema label .interruptor{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: var(--cor-secundaria);
    border: .0625rem solid #000;
    box-shadow: 1px 1px 3px #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    /* top: 0; */
    left: 0;
    transform: translateX(0px);
    transition: transform .2s linear;
}

#btn-moon{
    color: #1cceea;
}

#btn-sun{
    color: rgb(246, 255, 0);
}

/* SUBTÍTULOS */

h2{
    color: var(--cor-subtitulo);
    text-align: center;
}

/* HOME */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.boas-vindas{
    color: var(--cor-paragrafo);
    font-size: 1.5625rem;
    font-weight: 200;
    text-align: justify;
    max-width: 800px;
}

.eu-sou{
    color: var(--cor-subtitulo);
    font-size: 2rem;
    font-weight: 400;
}

.gilberto-lopes{
    color: var(--cor-destaque);
    font-size: 4.75rem;
    font-weight: 800;
    /* line-height: 4.6875rem; */
    /* text-shadow: .0rem .0625rem .0625rem var(--cor-paragrafo); */
}

/* p{
    border-right: 2px solid;
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(14),
    blinking 0.5s infinite step-end alternate;
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
} */

.chaves-full-stack{
    color: var(--cor-secundaria);
    font-weight: lighter;
    font-style: normal;
}

.full-stack{
    color: var(--cor-subtitulo);
    font-size: 2.1rem;
    font-weight: 700;
    font-style: italic;
}

.container-tecnologias{
    margin: 1.25rem 0;
}

.container-tecnologias .bx{
    color: var(--cor-secundaria);
    font-size: 2.5rem;
}

/* SOBRE MIM */

#sobre-mim{
    /* background: url(../img/hacker.jpeg) no-repeat;
    background-size: cover; */
    min-height: 100vh;
    padding-top: 100px;
}

#skills{
    min-height: 100vh;
    padding-top: 100px;
}

#projetos{
    min-height: 100vh;
    padding-top: 100px;
}

#contato{
    min-height: 100vh;
    padding-top: 100px;
}

p{
    color: var(--cor-paragrafo);
}


/* MOBILE */

.container-menu-mobile{
    display: none;
}

.nav-mobile{
    display: none;
}

/* FOOTER */

footer{
    border-top: .0625rem solid var(--cor-destaque);
}

