@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* LIGHT MODE */

:root{
    --P: #000;
    --destaque: #0075de;
    --subtitulo: #778899;
    --secundaria: #1696FF;
    --bg-primary:#f2edff;
    --bg-second: #f2edff;
    --black-white: #fff; 
}

/* CLASS DARK MODE */

.dark:root{
    --p: #fff;
    --destaque: #0AFFEB;
    /* --destaque: #49bdd7; */
    --subtitulo: #778899;
    --secundaria: #1696FF;
    --bg-primary: #202124;
    --bg-second: #2b2a33;
    --black-white: #000;
}

/* HTML / BODY */

html, body{
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bg-primary);
    transition: .5s;
}

/* SCROLL BAR */

::-webkit-scrollbar{
    width: 0.3125rem;
    background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb{
    width: 0.3125rem;
    background-color: var(--destaque);
    border-radius: 0.625rem;
}

/* HEADER */

header{
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .625rem #000000c3;
    padding: .3125rem .625rem;
    min-width: 100%;
    height: 70px;
    position: fixed;
}

/* LOGOMARCA */

.logomarca{
    color: transparent;
}

.logo-animado{
    font-size: 1.2em;
    color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo-animado:hover{
    color: var(--destaque);
    transition: 0.3s ease-in-out;
    /* text-shadow: 2px 2px 0px black; */
}

.developer{ 
    color: var(--subtitulo);
    font-weight: 500;
    font-style: italic;
}

.gilberto{ 
    color: var(--destaque);
    font-weight: bold;
    font-style: italic;
}

.maior-menor{
    -webkit-text-stroke: 1px var(--destaque);
    font-size: 2em;
    font-weight: bold;
}

.maior-menor:hover{
    color: varvar(--destaque);
}

.registrada{
    color: var(--destaque);
}

/* NAV DESKTOP */

.nav-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-desktop ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.25rem;
}

.nav-desktop ul li a{
    color: var(--subtitulo);
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.nav-desktop ul li a:hover{
    color: var(--destaque);
}

.nav-desktop ul li a .material-symbols-outlined{
    color: var(--secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTON MENU */

#btn-burguer{
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

#btn-burguer label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.span-1{
    background-color: var(--destaque);
    width: 30px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s ease-in-out;
}

.anima-span-1{
    background-color: var(--destaque);
    width: 30px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 14px;
    transform: rotate(135deg);
}

.span-2{
    background-color: var(--destaque);
    width: 30px;
    height: 4px;
}

.anima-span-2{
    display: none;
}

.span-3{
    background-color: var(--destaque);
    width: 30px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s ease-in-out;
}

.anima-span-3{
    background-color: var(--destaque);
    width: 30px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 12px;
    transform: rotate(-135deg);
}

/* MENU LATERAL*/

.menu{
    background-color: var(--bg-second);
    box-shadow: -5px 10px 10px #0000007c;
    border-radius: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem .625rem;
    position: absolute;
    top: 70px;
    right: -320px;
    min-width: 300px;
    transition: .4s ease-in-out;
}

.anima-menu{
    transform: translateX(-320px);
}

.img-profile{
    max-width: 100px;
    background-image: linear-gradient(to top, var(--black-white), var(--secundaria));
    border: .0625rem solid var(--subtitulo);
    border-radius: 50%;
}

.container-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
    margin-top: .625rem;
}

.container-email #icon_email{
    color: var(--subtitulo);
    font-size: 1.3rem;
}

.container-email .adress-email{
    color: var(--subtitulo);
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.container-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3125rem;
    margin-top: .625rem;
}

.container-sociais .bx{
    color: var(--secundaria);
    font-size: 2rem;
    margin: 0 .625rem;
    transition: .3s;
}

.container-sociais .bx:hover{
    color: var(--destaque);
    cursor: pointer;
}

.btn-tema{
    background-color: var(--subtitulo);
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 20px;
    padding: .3125rem;
    margin-top: 1.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.btn-tema label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ball{
    background-color: var(--secundaria);
    box-shadow: 1px 1px 5px #000000c5;
    border: 1px solid var(--subtitulo);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.anima-ball{
    left: 25px;
}

.btn-tema #moon{
    color: #09ecd9e9;
    font-size: 20px;
}

.btn-tema #sun{
    color: rgb(255, 255, 0);
    font-size: 20px;
}

.div-ul{
    margin-top: 1.25rem;
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin-top: 1.625rem;
}

.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.355);
    cursor: pointer;
}

.itens-menu-mobile{
    color: var(--subtitulo);
    font-size: 1rem;
    font-weight: bold;
    min-width: 100%;
    text-align: center;
    padding: .625rem;
    transition: .3s;
}

.itens-menu-mobile:hover{
    color: var(--destaque);
    background-color: #d3d3d38a;
}

/* SUBTÍTULOS E PARÁGRAFOS*/

h2{
    color: var(--subtitulo);
    text-align: center;
}

h3{
    color: var(--secundaria);
    text-align: center;
}

p{
    color: var(--p);
}

/* SECTION HOME */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1.25rem;
}

.boas-vindas{
    color: var(--p);
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    max-width: 700px;
}

.eu-sou{
    color: var(--subtitulo);
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.gilberto-lopes{
    color: var(--destaque);
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    margin-top: 2rem;
}

.full-stack{
    color: var(--subtitulo);
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.chaves-full-stack{
    color: var(--secundaria);
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.container-tecnologias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-tecnologias .bx{
    color: var(--secundaria);
    font-size: 2rem;
}

/* SECTION SOBRE MIM */

#sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.25rem;
    padding-top: 71px;
}

#sobre-mim h2{
    margin: .625rem;
}

.container-sobre{
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-texto-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-img-sobremim{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-img-sobremim img{
    /* filter: drop-shadow(0px 0px 5px var(--destaque)); */
    max-width: 100%;
    /* border: 1px solid var(--destaque); */
    /* border-radius: 50%; */

    /* ANIMAR BORDA */
}

.container-texto-sobremim{
    width: 100%;
}

.container-texto-sobremim h3{
    margin: 2rem;
}

.container-texto-sobremim p{
    font-size: .8rem;
    text-align: justify;
    text-indent: 30px;
    margin-right: 2rem;
}

/* SECTION SKILLS */

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.25rem;
}

.container-skills{
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.container-hard-skills{
    border-radius: 1.25rem;
    margin: .625rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills h3{
    margin: 1.625rem;
}

.container-icons-skills{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .625rem;
}

.container-hard-skills .bx{
    text-shadow: 1px 1px 0px #000;
    font-size: 6rem;
    margin: .625rem;
    transition: .3s;
}

#html{
    color: rgb(255, 94, 0);
}

#css{
    color: rgb(59, 45, 250);
}

#js{
    color: rgb(235, 250, 19);
}

#node{
    color: rgb(19, 153, 5);
}

#git{
    color: #E84D31;
}

.tux{
    width: 5.5rem;
}

.container-soft-skills{
    border-radius: 1.25rem;
    margin: .625rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-soft-skills li::before{
    content: '+ ';
    color: var(--secundaria);
}

.container-soft-skills li{
    color: var(--p);
}

/* SECTION PROJETOS */

#projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 71px;
}

#projetos h2{
    margin: 1.25rem;
}

.container-projetos{
    /* background-color: var(--b09); */
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: #a5a6a6;
    max-width: 100%;
    /* padding: 1.875rem .3125rem; */
    /* overflow: hidden; */
    /* overflow-x: auto; */

    position: relative;
}

#seta-esquerda{
    color: red;
    font-size: 5rem;

    position: absolute;
    top: 50%;
    left: 2px;
}

#seta-direita{
    color: red;
    font-size: 5rem;

    position: absolute;
    top: 50%;
    right: 2px;
}

.card-projetos{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.77);
    /* background-image: linear-gradient(to bottom, var(--b07), var(--b09)); */
    background-color: #0075de;
    max-width: 25rem;
    /* max-height: 400px; */
    /* max-width: 100%; */
    /* border: 1px solid var(--b01); */
    border-radius: 20px;
    padding: 2rem 1.25rem;
    margin: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card-projetos h3{
    text-align: center;
    font-size: 1.5em;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
    margin-bottom: 20px;
}
.card-projetos p{
    text-align: justify;
    font-size: 1em;
    color: var(--b6);
    text-shadow: 1px 1px 0px black;
    margin-bottom: 20px;
    padding: 0 1.25rem;
}
.card-projetos .div-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-projetos .div-icon .orange5{
    color: rgba(255, 55, 0, 0.911);
    text-shadow: 1px 1px 0px black;
    font-size: 3em;
    margin: 1.25rem;
}
.card-projetos .div-icon .blue3{
    color: rgb(18, 18, 255);
    text-shadow: 1px 1px 0px black;
    font-size: 3em;
    margin: 1.25rem;
}
iframe{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
}
.card-projetos a{
    background-color: var(--b07);
    border: 1px solid var(--b01);
    border-radius: 20px;
    color: var(--b01);
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    font-size: 1em;
    text-shadow: 1px 1px 0px black;
    margin: 10px 50px;
    display: block;
}
.card-projetos a:hover{
    margin: 10px 45px;
    background-color: var(--b01);
    border: 1px solid var(--b01);
    color: var(--b09);
    font-weight: bold;
    text-shadow: none;
    transition: 0.3s ease;
}

/* SECTION CONTATO */

#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* FOOTER */

footer{
    border-top: 1px solid rgba(128, 128, 128, 0.355);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

