@media screen and (max-width: 980px){

    .nav-desktop{
        display: none;
    }
    code{
        font-size: 16px;
    }
    .boas-vindas{
        font-size: 1rem;
        margin-top: 71px;
    }
    .eu-sou{
        font-size: 1.5rem;
    }
    .gilberto-lopes{
        font-size: 4rem;
    }
    .full-stack{
        font-size: 1.1rem;
    }
    .chaves-full-stack{
        font-size: 1.1rem;
    }

    .container-sobre{
        flex-direction: column-reverse;
    }

    .container-texto-sobremim{
        max-width: 700px;
    }

    .container-texto-sobremim p{
        margin-right: 0rem;
    }

    h3{
        margin: .625rem;
    }

    .container-projetos{
        padding: 0;
    }
    
    blockquote{
        margin-right: 0rem;
    }
}

@media screen and (max-width: 650px){

    #home{
        padding-top: 71px;
    }

    .gilberto-lopes{
        font-size: 2rem;
    }

    .img-dev-home{
        max-width: 90px;
    }

    #skills{
        padding-top: 71px;
    }

    .container-skills{
        flex-direction: column;
        align-items: center;
    }

    .container-hard-skills{
        width: 300px;
    }
    .container-soft-skills{
        width: 100%;
        margin-top: 1.25rem;
    }

    .container-hard-skills .bx{
        font-size: 4rem;
    }
    #node{
        width: 4rem;
    }
    #git{
        width: 3.6rem;
    }
    .tux{
        width: 4.3rem;
    }

    footer #btn-topo{
        font-size: 35px;
    }

}

@media screen and (max-width: 350px){
    code{
        font-size: 14px;
    }
}

/* DISPOSITIVO NA ORIENTAÇÃO PAISAGEM */

@media screen and (orientation: landscape){

    #home{
        padding: 71px 1.25rem;
    }

    #skills{
        padding: 71px 1.25rem;
    }
    
    #projetos{
        padding: 71px 1.25rem;
    }
}